h1 {
    background-color: palevioletred;
    text-align: center;
}

h2 {
    background-color: palevioletred;
    text-align: center;
}

h3 {
    background-color: palevioletred;
    text-align: center;
}

p {
    background-color: palevioletred;
}





li {
    background-color: palevioletred;
}

body {
    background-color: blanchedalmond;
}

#schedule{
    background-color: beige;

}
.main-text{
    background: palevioletred;
    color: darkblue;
}

li:nth-child(3){

    color: darkseagreen;
}