h1 {
    background-color: orangered;
    text-align: center;
}

h2 {
    background-color: orangered;
    text-align: center;
}

h3 {
    background-color: orangered;
    text-align: center;
}

p {
    background-color: orangered;
}

li {
    background-color: orangered;
}

body {
    background-color: blanchedalmond;
}

#schedule{
    background-color: beige;

}
.main-text{
    background: crimson;
    color: wheat;
}