h1 {
    background-color: palevioletred;
    text-align: center;
}

h2 {
    background-color: palevioletred;
    text-align: center;
}

h3 {
    background-color: palevioletred;
    text-align: center;
}

p {
    background-color: palevioletred;
}





li {
    background-color: palevioletred;
}

body {
    background-color: blanchedalmond;
    text-align: center;
}

#schedule{
    background-color: beige;
    text-align: center;

}
.main-text{
    background: palevioletred;
    color: darkblue;
    text-align: center;
}

li:nth-child(3){

    color: darkseagreen;
    text-align: center;
}

.cool{
    color:red;
    text-align: center;
}

#second{
    color:blue;
    text-align: center;
}


.dark{
    color: purple;
    background-color: orange;
}

#first{
    background-color: beige;
    text-align: center;
}