p {
    background-color: darkorange;
    text-align: center;
}

body {
    background-color: blanchedalmond;
}

#schedule{
    background-color: beige;

}
.main-text{
    background: crimson;
    color: wheat;
}